.app {
  text-align: center;
}

.app-logo {
  animation-duration: 3s;
  animation-name: slidein;
  height: 80px;
}

.app-header {
  background-color: #222;
  height: 240px;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 3.5em;
}

.app-content {
  font-size: large;
  text-align: center;
  padding: 0px 10px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
